<ion-view title="About the Club" id="page2">
  <ion-content class="has-header" padding="true">
    <h1 id="aboutTheClub-heading2" style="color:#000000;">Heading</h1>
    <div class="button-bar" id="aboutTheClub-button-bar2">
      <a class="button button-dark button-block icon ion-android-home" id="aboutTheClub-button7" ui-sref="herneHillHarriers()"></a>
      <button class="button button-dark button-block icon ion-android-calendar" id="aboutTheClub-button8"></button>
    </div>
  </ion-content>
</ion-view>